<div class="col-md-12">
  <h5>Post <span class="semi-bold">On</span></h5>
  <div class="input-append success date no-padding">

      <input type="text" class="form-control" id="sandbox-advance" value="<%= post_on ? post_on : "02/22/16" %>">
      <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
  </div>
</div>