<div class="grid simple">
  <div class="grid-title no-border">
    <h4>Post <span class="semi-bold">Categories</span></h4>
  </div>
  <div class="grid-body no-border">
    <select id="multi" style="width:100%" multiple>
      <option value="Jim">Jim</option>
      <option value="John">John</option>
      <option value="Lucy">Lucy</option>
    </select>
    <input name="categories" type="hidden">
  </div>
</div>