<div class="grid simple">
  <div class="grid-title no-border">
    <h4>Post <span class="semi-bold">Title</span></h4>
  </div>
  <div class="grid-body no-border">
    <div class="form-group">
      <div class="controls">
        <input type="text" class="form-control" id="title" <%= 'value='+@post.title+'' if @post.title != nil %>>
        <input type="hidden" id="post_id" value="<%= @post.id if @post.id != nil %>">
      </div>
    </div>
  </div>
</div>