<div class="content">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h3>Updates</h3>
  </div>
  <!-- END PAGE TITLE -->
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <!-- END PLACE PAGE CONTENT HERE -->
</div>