
  <!-- BEGIN PAGE TITLE -->
    <div class="row-fluid">
      <div class="span12">
        <div class="col-md-10">
          <div class="page-title">
            <i class="icon-custom-left" id="back"></i>
            <h3>Posts</h3>
          </div>
        </div>
        <div class="col-md-2">
          <!-- New Post Path -->
        </div>
      </div>
  </div>
    <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
  <p id="notice">
    <!-- notice -->
  </p>
  <!-- END PAGE TITLE -->
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <div class="row-fluid">
    <div class="span12">
      <div class="col-md-12">
        <div class="grid simple">
          <div class="grid-title">
            <h4>
              Created
              <span class="semi-bold">Posts</span>
            </h4>
            <div class="tools">
              <a href="javascript:;" class="collapse"></a>
              <a href="#grid-config" data-toggle="modal" class="config"></a>
              <a href="javascript:;" class="reload"></a>
              <a href="javascript:;" class="remove"></a>
            </div>
          </div>
          <div class="grid-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-md-6">
                  <div id="example2_length" class="dataTables_length">
                    <label>
                      <div class="select2-container span12" id="s2id_autogen5">
                        <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
                          <span class="select2-chosen">10</span> <abbr class="select2-search-choice-close"></abbr>
                          <span class="select2-arrow"> <b></b>
                          </span>
                        </a>
                        <input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen6">
                        <div class="select2-drop select2-display-none">
                          <div class="select2-search select2-search-hidden select2-offscreen">
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input"></div>
                          <ul class="select2-results"></ul>
                        </div>
                      </div>
                      <select size="1" name="example2_length" aria-controls="example2" class="select2-wrapper span12 select2-offscreen" tabindex="-1">
                        <option value="10" selected="selected">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="dataTables_filter" id="example2_filter">
                    <label>
                      Search:
                      <input type="text" aria-controls="example2" class="input-medium"></label>
                  </div>
                </div>
              </div>
              <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info">
                <thead>
                  <tr role="row">
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 16px;"></th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Username: activate to sort column ascending" style="width: 151px;">Title</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending" style="width: 201px;">Author</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" style="width: 184px;">Modified</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 130px;">Published</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Role(s): activate to sort column ascending" style="width: 92px;">Status</th>
                  </tr>
                </thead>

                <tbody role="alert" id="posts_table" aria-live="polite" aria-relevant="all">
                  <!-- each post loop start -->



                <!-- each post loop end -->
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                      <li class="prev disabled">
                        <a href="#">
                          <i class="fa fa-chevron-left"></i>
                        </a>
                      </li>
                      <li class="active">
                        <a href="#">1</a>
                      </li>
                      <li>
                        <a href="#">2</a>
                      </li>
                      <li>
                        <a href="#">3</a>
                      </li>
                      <li>
                        <a href="#">4</a>
                      </li>
                      <li>
                        <a href="#">5</a>
                      </li>
                      <li class="next">
                        <a href="#">
                          <i class="fa fa-chevron-right"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="dataTables_info" id="example2_info">
                    Showing <b>1 to 10</b>
                    of 57 entries
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
  <!-- END PLACE PAGE CONTENT HERE -->